<div class="row">
    <div class="col">
        <input #valorBuscar (keyup)="buscar(valorBuscar.value)" class="form-control" type="text" name="search" id="search" placeholder="Buscar...">
    </div>
</div>

<div class="card-columns m-5">
    <div class="card" *ngFor="let artista of artistas">
        <img class="card-img-top" [src]="artista.images[0].url" alt="Card image cap">
        <div class="card-body">
            <h5 class="card-title">{{ artista.name }}</h5>
        </div>
    </div>
</div>